.body{
    margin: 0;
    padding: 0;
  }
  
  .title{
    line-height: 70px;
    color:aliceblue;
    background-color:cadetblue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5em;
    margin-right:-0.5em;
  }
  
  #booktitle{
    font-family: Georgia, "Times New Roman", "FangSong", "KaiTi", STFangSong, "????", serif;
    font-size: 20px;
    text-align: center;
  }
  
  #backbutton{
    margin-left: 6%;
    width: 80px;
    height: 35px;
  }

  .btn{
    font-family: Helvetica, Tahoma, Arial, STXihei, “ Chinese is fine and black ”, Heiti, “ In black ”, “Microsoft YaHei”, “ Microsoft YaHei ”, SimSun, “ Song style ”, sans-serif;
    border: 2px solid #000000;
    width: 100px;
    height: 35px;
    font-weight: bold;
    left: calc(50% - 50px);
  }
  
  .btn:hover {
    background-color: #000000;
    color: white;
  }

/* Dropdown Button (below)*/
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* Dropdown Button (above)*/

.chinesetext{
  font-family: Georgia, "Times New Roman", "FangSong", "KaiTi", STFangSong, "????", serif;
  font-size: 17px;
  font-weight: bold;
  text-indent: 2em;
}

@media only screen and (min-width: 1000px) {
  .chinesetext{
    width:65%;
    padding-left: 17.5%;
  }
}

@media only screen and (max-width: 1000px) {
  .chinesetext{
    width:90%;
    padding-left: 5%;
  }
}